{% extends 'notesManager/base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'styling.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Log in
{% endblock %}

{% block container %}

    <form method="post" class="form-container">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-row">
                <div class="form-label">{{ field.label_tag }}</div>
                <div class="form-input">{{ field }}</div>
            </div>
        {% endfor %}
        <div class="form-row">
            <button type="submit" class="submit-button">Log In</button>
        </div>
    </form>


{% endblock %}