<style>
    .form-container {
        border: 2px #613F75 solid;
        width: 50%;
        min-width: 400px;
        padding: 10px 20px;
        font-size: 15px;
        background-color: #F6F2F8;
        border-radius: 20px;
        margin-top: 20px;
    }

    .form-row {
        display: flex;
        width: 100%;
        flex-direction: row;
        height: 40px;
        margin: 20px auto;
        justify-content: center;
    }

    .form-label {
        flex: 1;
        display: flex;
        margin: auto;
    }

    .form-input {
        flex: 2;
        display: flex;
        margin: auto;
        width: 100%;
        height: 30px;
    }

    input {
        width: 100%;
    }

    input:-webkit-autofill {
        filter: none;
        background-color: #E3D7EA;
        box-shadow: 0 0 0 40px #E3D7EA inset !important;
    }

    .submit-button {
        background-color: #613F75;
        color: white;
        cursor: pointer;
        width: 30%;
        opacity: 0.8;
        border: 0px black solid;
        border-radius: 20px;
        height: 30px;
        margin: auto;
        font-family: inherit;
    }
</style>
{% extends 'notesManager/base.html' %}
{#{% load static %}#}
{#{% load static %}#}
{#<link href="{% static 'styling.css' %}" rel="stylesheet">#}
{% block title %}
    Log in
{% endblock %}

{% block container %}

    <form method="post" class="form-container">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-row">
                <div class="form-label">{{ field.label_tag }}</div>
                <div class="form-input">{{ field }}</div>
            </div>
        {% endfor %}
        <div class="form-row">
            <button type="submit" class="submit-button">Log In</button>
        </div>
    </form>


{% endblock %}