{% extends 'notesManager/base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'styling.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Forgot Your Password?{% endblock %}

{% block container %}
    <h1>Forgot your password?</h1>
    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

    <form method="POST" class="form-container">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-row">
                <div class="form-label"> {{ field.label_tag }}</div>
                <div class="form-input"> {{ field }}</div>
            </div>
        {% endfor %}
    <div class="form-row">
        <input class="submit-btn" type="submit" value="Send me instructions!">
    </div>
    </form>
{% endblock %}