<script>
    function onlyPermittedCharacters(str){
        return /^[0-9A-z@.+\-_]+$/.test(str);
    }
    function isItAnEmail(str){
        return /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}/.test(str);
    }
    function checkUsername(){
        let username = document.getElementById("id_username").value;
        if(!onlyPermittedCharacters(username))
        {
            document.getElementById("username_error").innerHTML = "Only letters, numbers and @+-_ are permitted";
            document.getElementById("username_error").style.display = 'block';
            return false;
        }
        if(username.length > 200)
        {
            document.getElementById("username_error").innerHTML = "Only 200 characters are permitted";
            document.getElementById("username_error").style.display = 'block';
            return false;
        }
        document.getElementById("username_error").innerHTML = "";
        document.getElementById("username_error").style.display = 'none';
        return true;
    }
    function checkEmail(){
        let mail = document.getElementById("id_email").value;
        if(!isItAnEmail(mail)) {
            document.getElementById("email_error").innerHTML = "Incorrect email format";
            document.getElementById("email_error").style.display = 'block';
            return false;
        }
        document.getElementById("email_error").style.display = 'none';
        document.getElementById("email_error").innerHTML = "";
        return true;
    }
    function validateForm(){
        let isUsernameCorrect = checkUsername();
        let isEmailCorrect = checkEmail();
        return isUsernameCorrect && isEmailCorrect;
    }
</script>

{% extends 'notesManager/base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'styling.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block container %}
    {{ form.non_field_errors}}
    <form method="post" onsubmit="return validateForm()" class="form-container">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-row">
                <div class="form-label">
                    {{ field.label_tag }}
                </div>
                <div class="form-input">
                    {{ field }}
                </div>
            </div>
                {% for error in field.errors %}
                    <label style="color: red">{{ error }}</label>
                {% endfor %}
                <label style="color: red" class="error-msg" id="{{ field.name}}_error"></label>
        {% endfor %}
        <div class="form-row">
            <button type="submit" class="submit-button">Sign up</button>
        </div>
    </form>
{% endblock %}