{% extends 'notesManager/base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'styling.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Enter new password{% endblock %}

{% block container %}

    {% if validlink %}

        <h1>Set a new password!</h1>
        <form method="POST" class="form-container">
            {% for message in messages %}
                <p style="color:red"> {{ message }}</p>
            {% endfor %}
            {% csrf_token %}
            {% for field in form %}
                <div class="form-row">
                    <div class="form-label"> {{ field.label_tag }}</div>
                    <div class="form-input"> {{ field }}</div>
                </div>
                {% for error in field.errors %}
                    <label style="color: red">{{ error }}</label>
                {% endfor %}
            {% endfor %}

            <div class="form-row">
                <input class="submit-btn" type="submit" value="Change my password!">
            </div>
        </form>
    {% else %}

        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset.</p>

    {% endif %}

{% endblock %}