<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    const csrf = document.getElementsByName('csrfmiddlewaretoken');

    function openForm() {
        document.getElementById("formTwo").style.display = "block";
    }

    function closeForm() {
        document.getElementById("formTwo").style.display = "none";
    }

    {##}
    {#function create_post() {#}
    {#    console.log("create post is working!") // sanity check#}
    {#    let groupName = document.getElementById("groupName").value;#}
    {#    console.log(groupName)#}
    {#    $.ajax({#}
    {#        url : "create_note", // the endpoint#}
    {#        type : "POST", // http method#}
    {#        data : {gName : groupName,#}
    {#                csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val(),#}
    {#                hloooo : 12#}
    {#        }, // data sent with the post request#}
    {#        // handle a successful response#}
    {#        success : function() {#}
    {#            console.log("success"); // another sanity check#}
    {#        },#}
    {#        // handle a non-successful response#}
    {#        error : function(xhr,errmsg,err) {#}
    {#            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+#}
    {#                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom#}
    {#            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console#}
    {#        }#}
    {#    });#}
    {#    closeForm();#}

    {#$(document).ready(function() {#}
    {#            $("#formTwo").submit(function(e) {#}
    {#               e.preventDefault();#}
    {#                create_post();#}
    {#            });#}
    {##}
    {#        });#}
</script>

<style>
    .form22 {
        display: none;
    }
    .open-form {
        margin: auto;
        border: 1px #613F75 solid;
        border-radius: 10px;
        cursor: pointer;
        padding: 5px;
    }
</style>
<script>
    function RememberNote() {
        localStorage.setItem('title', document.getElementById("id_title").value);
        localStorage.setItem('content', document.getElementById("id_content").value);
    }

    function ClearNote() {
        localStorage.setItem('title', '');
        localStorage.setItem('content', '');
    }

    function fillForm() {
        document.getElementById("id_title").value = localStorage['title'];
        document.getElementById("id_content").value = localStorage['content'];
    }

    $(document).ready(function () {
        $("#formTwo").submit(function (e) {
            RememberNote();
        });
        $("#formNoteId").submit(function (e) {
            ClearNote();
        });
    });
    window.onload = function () {
        fillForm()
    }
</script>

{% extends 'notesManager/base.html' %}
{% load static %}
{% block style %}
    <link href="{% static 'styling.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
    Create note
{% endblock %}

{% block container %}
    <div class="form-container form22" id="formTwo">
        <form method="POST" id="formTwo" name="formTwo" onload="fillForm()">
            {% csrf_token %}
            <div class="form-row"><h3>Add new group</h3></div>
            {% for field in form22 %}
                <div class="form-row" id="the_post">
                    <div class="form-label">{{ field.label_tag }}</div>
                    <div class="form-input" id="{{ field.name }}">{{ field }}</div>
                </div>
                {% for error in field.errors %}
                    <label style="color: red">{{ error }}</label>
                {% endfor %}
            {% endfor %}
            <div class="form-row">
                <button type="submit" style="width: 100px; margin: 0px 10px;" class="submit-btn" name="form_type"
                        value="formTwo">Add
                </button>
                <button type="button" style="width: 100px; margin: 0px 10px;" class="submit-btn cancel"
                        onclick="closeForm()">Cancel
                </button>
            </div>
        </form>
    </div>

    <form method="post" onsubmit="return RememberNote()" id="formNoteId" class="form-container">
        {% csrf_token %}
        {#        {{ create_note_form.as_p }}#}
        {% for field in create_note_form %}
            <div class="form-row">
                <div class="form-label">{{ field.label_tag }}</div>
                <div class="form-input">
                    {{ field }}
                    {% if field.name == 'group' %}
                        <button class="open-form" onclick="openForm()">Add new group</button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="form-row">
            <button type="submit" class="submit-btn" name="form_type" value="create_note_form_id"
                    onclick="RememberNote()">Save your note
            </button>
        </div>

    </form>
{% endblock %}