<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    function titleChange(){
        document.getElementById("id_edit").innerHTML  = "Edit " + document.getElementById("id_title").value;
    }
    $("#id_title").on("keyup", titleChange);
    $(document).ready(
        function(){
    $("#id_title").on("keyup", titleChange);
    titleChange();
});
</script>
{% extends 'notesManager/base.html' %}
{% load static %}
{% block style %}
    <link href="{% static 'styling.css' %}" rel="stylesheet">
{% endblock %}
{% block container %}
    <form method="post" class="form-container">
        {% csrf_token %}
    <div class="form-row">
        <div class="form-label">
            <h2 id="id_edit"></h2>
        </div>
    </div>
        {% for field in form %}
            <div class="form-row">
                <div class="form-label">{{ field.label_tag }}</div>
                <div class="form-input">{{ field }}</div>
            </div>
        {% endfor %}
    <div class="form-row">
        <button type="submit" class="submit-btn">Save your changes</button>
    </div>
    </form>
{% endblock %}